---
/* eslint-disable astro/jsx-a11y/anchor-has-content */
import { getImage } from "@astrojs/image";
import {
  faApple,
  faChrome,
  faUbuntu,
} from "@fortawesome/free-brands-svg-icons";
import {
  faArrowUpRightFromSquare,
  faLanguage,
  faLocationDot,
  faSchool,
} from "@fortawesome/free-solid-svg-icons";
import FontAwesomeIcon from "../components/FontAwesomeIcon.astro";

import Layout from "../layouts/Layout.astro";

const skills = [
  "astro",
  "bash",
  "bootstrap",
  "c",
  "cpp",
  "cloudflare",
  "django",
  "docker",
  "express",
  "flask",
  "git",
  "github",
  "githubactions",
  "gitlab",
  "go",
  "html",
  "idea",
  "instagram",
  "js",
  "jest",
  "jquery",
  "linux",
  "md",
  "mastodon",
  "materialui",
  "mongodb",
  "nestjs",
  "nextjs",
  "nodejs",
  "postman",
  "pr",
  "prisma",
  "py",
  "react",
  "redis",
  "regex",
  "remix",
  "stackoverflow",
  "tailwind",
  "tensorflow",
  "twitter",
  "ts",
  "vercel",
  "vim",
  "vite",
  "vscode",
  "vue",
  "webpack",
].join(",");

type Theme = "dark" | "light";
const getSkilliconsSrc = async (theme: Theme = "dark") =>
  (
    await getImage({
      src: `https://skillicons.dev/icons?i=${skills}&theme=${theme}&perline=6`,
      alt: "Skills",
      width: 329.25,
      height: 441.75,
      format: "svg",
    })
  ).src;
const skilliconsSrcs = {
  dark: await getSkilliconsSrc(),
  light: await getSkilliconsSrc("light"),
};
---

<Layout title="About | wxh.im">
  <div class="flex flex-wrap justify-between text-lg">
    <main class="grow">
      <p class="mt-5 text-3xl">Hey there</p>
      <p class="mt-4 text-xl">
        I&rsquo;m <span lang="zh-Hans">汪心禾</span> (<a
          class="text-slate-500 underline hover:text-slate-700 dark:text-slate-300 dark:hover:text-slate-200"
          href="https://en.wikipedia.org/wiki/Pinyin"
          hreflang="en"
          rel="noreferrer"
          target="_blank">pinyin</a
        >: Wāng Xīnhé), a 16 y.o. student & developer.
      </p>
      <ul class="mt-2">
        <li>
          <FontAwesomeIcon icon={faSchool} class="w-6" /> Grade 11 at
          <a
            class="text-slate-500 hover:text-slate-700 dark:text-slate-300 dark:hover:text-slate-200"
            href="https://www.ghcis.com/"
            hreflang="zh-Hans-CN"
            rel="noreferrer"
            target="_blank"
          >
            <span class="underline">GHCIS</span>
            <FontAwesomeIcon icon={faArrowUpRightFromSquare} class="text-xs" />
          </a>
        </li>
        <li>
          <FontAwesomeIcon icon={faLocationDot} class="w-6" /> Shanghai, People&apos;s
          Republic of China (<span lang="zh-Hans">中华人民共和国 上海市</span>)
        </li>
        <li>
          <FontAwesomeIcon icon={faLanguage} class="w-6" /> Simplified Chinese (<span
            lang="zh-Hans">简体中文</span
          >), English
        </li>
      </ul>
      <div class="mt-2 flex space-x-1">
        <span>Habitual</span>
        <ul>
          <li>
            OS: <FontAwesomeIcon icon={faApple} /> macOS,
            <FontAwesomeIcon icon={faUbuntu} /> Ubuntu Server
          </li>
          <li>
            browser: <FontAwesomeIcon icon={faChrome} /> Google Chrome
          </li>
          <li>IDE / editor: Visual Studio Code, JetBrains WebStorm, Vim</li>
        </ul>
      </div>
      <div class="mt-4">
        <a
          class="github-button"
          href="https://github.com/wxh06"
          data-size="large"
          data-show-count="true"
          aria-label="Follow @wxh06 on GitHub">Follow @wxh06</a
        >
        <a
          href="https://twitter.com/wxh06?ref_src=twsrc%5Etfw"
          class="twitter-follow-button"
          data-size="large"
          data-show-count="true"></a>
      </div>
    </main>
    <div class="mx-auto my-5">
      <picture>
        <source
          srcset={skilliconsSrcs.dark}
          media="(prefers-color-scheme: dark)"
        />
        <img alt="Skills" src={skilliconsSrcs.light} />
      </picture>
    </div>
  </div>
</Layout>
<script>
  import "github-buttons/dist/buttons";
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
></script>
